## Preprocessing

In [18]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'. (also removed the 'status' column for attempt 3)
application_df = application_df.drop(['EIN', 'NAME', 'STATUS'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,N,36500179,0

In [20]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [21]:
# Look at APPLICATION_TYPE value counts for binning
app_type_val_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_val_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [22]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace` (first attempt 500, then 750)
application_types_to_replace = list(app_type_val_counts[app_type_val_counts < 750].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [24]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_over_1 = classification_value_counts[classification_value_counts>1]
class_over_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [25]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace` (first 1400 then 2000)
classifications_to_replace = list(class_over_1[class_over_1 < 2000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
Other     6036
C1200     4837
C1580        1
C1900        1
C1820        1
C6100        1
C1248        1
C2600        1
C1370        1
C5200        1
C4200        1
C2190        1
C1236        1
C2570        1
C2500        1
C3700        1
C1570        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [26]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies = pd.get_dummies(application_df)
app_dummies

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,0,0,1,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,5000,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34296,5000,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34297,5000,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,36500179,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [27]:
# Split our preprocessed data into our features and target arrays
y = app_dummies.IS_SUCCESSFUL
X = app_dummies.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [28]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 20
hidden_nodes_layer3 = 40



nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer (added)
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 10)                640

 dense_5 (Dense)             (None, 20)                220

 dense_6 (Dense)             (None, 40)                840

 dense_7 (Dense)             (None, 1)                 41

=================================================================
Total params: 1,741
Trainable params: 1,741
Non-trainable params: 0
_________________________________________________________________

In [30]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [31]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=150)

Epoch 1/150
804/804 [==============================] - 3s 3ms/step - loss: 0.6035 - accuracy: 0.6982
Epoch 2/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5706 - accuracy: 0.7271
Epoch 3/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5640 - accuracy: 0.7275
Epoch 4/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5626 - accuracy: 0.7284
Epoch 5/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5606 - accuracy: 0.7294
Epoch 6/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5593 - accuracy: 0.7282
Epoch 7/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5582 - accuracy: 0.7299
Epoch 8/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5581 - accuracy: 0.7292
Epoch 9/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5575 - accuracy: 0.7300
Epoch 10/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5571 - accuracy: 0.7297
Epoch 11/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7297
Epoch 12/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5570 - accuracy: 0.7302
Epoch 13/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5566 - accuracy: 0.7304
Epoch 14/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5555 - accuracy: 0.7302
Epoch 15/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5557 - accuracy: 0.7308
Epoch 16/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5551 - accuracy: 0.7313
Epoch 17/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7312
Epoch 18/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5548 - accuracy: 0.7310
Epoch 19/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7310
Epoch 20/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5541 - accuracy: 0.7308
Epoch 21/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5539 - accuracy: 0.7315
Epoch 22/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5537 - accuracy: 0.7320
Epoch 23/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5536 - accuracy: 0.7324
Epoch 24/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5537 - accuracy: 0.7325
Epoch 25/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7310
Epoch 26/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7326
Epoch 27/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7317
Epoch 28/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7320
Epoch 29/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5528 - accuracy: 0.7324
Epoch 30/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5523 - accuracy: 0.7323
Epoch 31/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7322
Epoch 32/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5523 - accuracy: 0.7321
Epoch 33/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7322
Epoch 34/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7319
Epoch 35/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5524 - accuracy: 0.7320
Epoch 36/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5522 - accuracy: 0.7334
Epoch 37/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5522 - accuracy: 0.7329
Epoch 38/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7335
Epoch 39/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7324
Epoch 40/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5518 - accuracy: 0.7325
Epoch 41/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7332
Epoch 42/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7339
Epoch 43/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5515 - accuracy: 0.7334
Epoch 44/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7332
Epoch 45/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7332
Epoch 46/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7338
Epoch 47/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7338
Epoch 48/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5508 - accuracy: 0.7330
Epoch 49/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7338
Epoch 50/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7327
Epoch 51/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7332
Epoch 52/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7341
Epoch 53/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5509 - accuracy: 0.7338
Epoch 54/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5503 - accuracy: 0.7345
Epoch 55/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7324
Epoch 56/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.7336
Epoch 57/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7342
Epoch 58/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5503 - accuracy: 0.7343
Epoch 59/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7334
Epoch 60/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7331
Epoch 61/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7348
Epoch 62/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7338
Epoch 63/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5499 - accuracy: 0.7334
Epoch 64/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5499 - accuracy: 0.7344
Epoch 65/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7339
Epoch 66/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5499 - accuracy: 0.7346
Epoch 67/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7341
Epoch 68/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7339
Epoch 69/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7351
Epoch 70/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5495 - accuracy: 0.7334
Epoch 71/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7341
Epoch 72/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5495 - accuracy: 0.7339
Epoch 73/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7340
Epoch 74/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5495 - accuracy: 0.7345
Epoch 75/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7344
Epoch 76/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7339
Epoch 77/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7350
Epoch 78/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7346
Epoch 79/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7348
Epoch 80/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7343
Epoch 81/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5493 - accuracy: 0.7341
Epoch 82/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7342
Epoch 83/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7344
Epoch 84/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7348
Epoch 85/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7338
Epoch 86/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7339
Epoch 87/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7343
Epoch 88/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7351
Epoch 89/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7342
Epoch 90/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7339
Epoch 91/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7346
Epoch 92/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7350
Epoch 93/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7354
Epoch 94/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7349
Epoch 95/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7345
Epoch 96/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7346
Epoch 97/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7341
Epoch 98/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7343
Epoch 99/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7350
Epoch 100/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7349
Epoch 101/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7353
Epoch 102/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7351
Epoch 103/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7346
Epoch 104/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7356
Epoch 105/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7345
Epoch 106/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7349
Epoch 107/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7357
Epoch 108/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7348
Epoch 109/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7355
Epoch 110/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7349
Epoch 111/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7355
Epoch 112/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7357
Epoch 113/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7349
Epoch 114/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7355
Epoch 115/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7348
Epoch 116/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7350
Epoch 117/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7355
Epoch 118/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7352
Epoch 119/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7350
Epoch 120/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7356
Epoch 121/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7352
Epoch 122/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7354
Epoch 123/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7353
Epoch 124/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7350
Epoch 125/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7346
Epoch 126/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7355
Epoch 127/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7357
Epoch 128/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7347
Epoch 129/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7343
Epoch 130/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7356
Epoch 131/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7350
Epoch 132/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7346
Epoch 133/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7350
Epoch 134/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7360
Epoch 135/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7363
Epoch 136/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7345
Epoch 137/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7362
Epoch 138/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7352
Epoch 139/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7352
Epoch 140/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7350
Epoch 141/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7351
Epoch 142/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5471 - accuracy: 0.7356
Epoch 143/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7360
Epoch 144/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7355
Epoch 145/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7351
Epoch 146/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7348
Epoch 147/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7363
Epoch 148/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7359
Epoch 149/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7356
Epoch 150/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7360

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5632 - accuracy: 0.7223 - 636ms/epoch - 2ms/step
Loss: 0.5632191300392151, Accuracy: 0.7223323583602905

In [33]:
# Export our model to HDF5 file
nn.save('deep-learning-challenge/AlphabetSoup.h5')